.parserDebuggerDebuggerHeader {
    color: #85144b;
}

.parserDebuggerContextStack {
    padding: 1.2em 8px;
}

.parserDebuggerContextStack  span {
    position: relative;
    white-space: nowrap;
}

.parserDebuggerContextStack  span:hover > .parserDebuggerContextTooltip {
    display: block;
}

.parserDebuggerContextStack  span > .parserDebuggerContextTooltip {
    display: none;
    position: absolute;
}

.parserDebuggerErrorDebugger > * {
    margin: 0 0;
}

.parserDebuggerErrorArrow {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #FF4136;
}

.parserDebuggerErrorChar {
    font-weight: bold;
    text-decoration: underline;
}

.parserDebuggerOneOfList {
    list-style: circle;
}

.latexParserTree {
    position: relative;
}

.latexParserTree  ul {
    list-style: none;
    padding-left: 32px;
}

.latexParserTree  ul > li:last-child::after {
    height: 8px;
}

.latexParserTree  li::before {
    border-top: 1px solid #111111;
    top: 9px;
    width: 8px;
    height: 0;
}

.latexParserTree  li::after {
    border-left: 1px solid #111111;
    height: 100%;
    width: 0px;
    top: 2px;
}

.latexParserTree  li::before {
    content: '';
    position: absolute;
    left: -12px;
}

.latexParserTree  li::after {
    content: '';
    position: absolute;
    left: -12px;
}

.latexParserTree  ul {
    position: relative;
}

.latexParserTree  li {
    position: relative;
}
